.Page {

  &-Container {
    margin-left: auto;
    margin-right: auto;
    width: 704px;
  }
}

.Logo {
  &-Company {
    font-weight: bold;
  }
}

.Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}